/* Add a black background color to the top navigation */
.topnav {
  background-color: #222;
  overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #222;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #333;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #555;
  color: white;
}

/* reset styles */
* {
  margin: 0px;
  padding: 0px;
  background-color: #eee;
}

/* begin styles */
h1 { 
  color: #0D1B2A; 
  font-size: 42px;
  padding-top: 300px;
  padding-bottom: 300px;
  font-style: black;
  background-color: #ffffff;
  -webkit-animation-name: color_change;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-duration: 10s; 
}

body {
  margin-top: 50px;
  margin-bottom: 100px;
  font-family: "avenir", sans-serif;
  font-size: 20px;
  color: #1B263B;
  text-align: center;
  letter-spacing: 1px;
  line-height: 2;
}

h3 {
  font-weight: medium;
  margin-top:1em;
  margin-bottom:0.5em;
  color: #1B263B;
}

li{
  color: white;
  font-style:thin;
}

/* unvisited link */
a:link {
  color: #C51B24;
}

/* visited link */
a:visited {
  color: #a4a4a4;
}

/* mouse over link */
a:hover {
  color: #1B263B;
  font-style: medium;
}


@-webkit-keyframes color_change {
    0%, 100% {color: #000;}
    50% {color:#fff;}


