
/* reset styles */

* {
  margin: 0px;
  padding: 0px;
}

/* begin styles */
h1 { color: #FFFFFF; }

body {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;

  font-family: "avenir", sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #5D6D7E;
  text-align: center;
  letter-spacing: 1px;
  line-height: 2;
}

html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

