
body {
	background: #fff;
	color #2e4053;
	font-size: 16px;
	text-align: left;
}

/* positioning */


#container {
	max-width: 800px;
}

img {
	border-radius: 10px;
	border: 5px solid #eee;
	max-width: 100%;
	position: relative;
	width: 400px;
  	height: 400px;
  	top: 0px;
  	left: 0px; 
}

/* type */

body {
	padding-left: 100px;
	padding-right: 100px;
	font-family: Avenir, sans-serif;
	color: #2e4053;
}

h1 {
	font-weight: bold;
	line-height: 1em;
	margin-bottom: 0.5em;
}

h2 {
	font-weight: medium;
	margin-top: 1em;
}

b {
	display: block;
	margin-bottom:0.5em;
}

p {
	margin-bottom: 1em;
}


#toc a {
	color: #5d6d7e;
	text-decoration: none;
}

#toc a:hover {
	font-weight: black;
	color: #2e4053;
}

/* table of contents */

#toc {
	position: fixed;
	bottom: 2em;
	right: 2em;
	background: #eee;
	color: #5d6d7e;
	font-weight: black;
	padding: 1em;
	font-size: 1em;
	border-radius: 10px;
	text-align: center;
}

#toc ul {
	padding: 0;
	list-style-type: none;
}

