
* {
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}
body {
    background: beige;
}
#desktop {
    display: inline;
    color: black;
    text-align: center;
    font-family: "Avenir","Helvetica", sans-serif;
    font-size: 24px;
}
#tablet,
#mobile,
#print,
/* tablet */
@media (min-width: 670px) and (max-width: 1024px) {
    body {
        background: grey;
    }
    #tablet {
        display: inline;
        color: white;
    }
    #desktop,
    #mobile,
    #print {
        display: none;
    }
}
/* mobile */
@media (max-width: 670px) {
    body {
        background: white;
    }
    #mobile {
        display: inline;
        color: black;
    }
    #desktop,
    #tablet,
    #print {
        display: none;
    }
}
/* print */
@media print {
    body {
        background: white;
    }
    #print {
        display: inline;
        color: black;
    }
    #desktop,
    #tablet,
    #mobile {
        display: none;
    }
}