* {
        margin: 0px; padding: 0px;
}

.canvas {
  width: 500px;
  height: 300px;
  position: relative;
  background: black;
  -webkit-animation-name: color_change1;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-duration: 2s; 
}

#rect-horizontal{
  position:fixed;
  width: 500px;
  height: 50px;
  left:-10px;
  top:100px;
  background: red;
  border: 10px solid white;
  -webkit-animation-name: color_change2;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-duration: 2s; 
}
#rect-vertical{  
  position:fixed;
  width: 50px;
  height:300px;
  top:-10px;
  left:75px;
  background: red;
  border: 10px solid white;
  -webkit-animation-name: color_change2;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-duration: 2s; 
}


.big-star{
  position:relative;
  color:white; 
  font-size:10rem;
  margin-left:30px;
  float:left;


  /*animation*/
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

.small-star{
  position:relative;
  color:#fff31e; 
  font-size:7em;
  margin-left:-135px;
  margin-top:35px;
  float:left;

  /*animation*/
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

@-webkit-keyframes color_change1 {
    0%, 100% {background-color:black;}
    50% {background-color:red;}
}

@-webkit-keyframes color_change2 {
    0%, 100% {background-color:red;}
    50% {background-color:black;}
}


@-moz-keyframes spin { 
  100% { 
    -moz-transform: rotate(360deg); 
    } 
  }

@-webkit-keyframes spin { 
  100% { 
    -webkit-transform: rotate(360deg); 
    } 
  }

@keyframes spin { 
  100% { -webkit-transform: rotate(360deg); 
    transform:rotate(360deg); 
    } 
  }
